* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-style: normal;
  font-family: sans-serif;
}

body {
  width: 100vw;
  background: #f7f7f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  padding: 44px 24px 0 24px;
  width: 100%;
  height: 92px;
  background-color: #fff;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 76px;
  height: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

header a {
  color: #6070ff;
}

header .button {
  margin-right: 8px;
}

header ul {
  display: none;
}

/* Section One: Headline */

.section-1 {
  width: 100%;
  background: #fff;
  border-radius: 0 0 0 75px;
  height: 604px;
  display: flex;
  justify-content: center;
}

.section-1 .background-image {
  position: absolute;
  height: 587.15px;
  width: 100%;
  top: 104px;
}

.section-1 .desktop-header-bg {
  display: none;
}

.section-1 .headline-container {
  padding: 0 24px 0 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1;
}

.section-1 h1 {
  width: 327px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding-top: 114px;
}

.section-1 p {
  width: 327px;
  height: 146px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  font-family: "poppins", sans-serif;
}

.section-1 h3 {
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.section-1 .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170.17px;
  height: 20px;
  margin-top: 12px;
}

/* Section Two: Work */

.section-2 {
  padding: 114px 24px;
  display: grid;
  row-gap: 88px;
}

.section-2 .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.section-2 .block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 295px;
  height: 288px;
}

.section-2 h3 {
  width: 295px;
  height: 36px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.section-2 .frame {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 12px;
  width: 236px;
  height: 32px;
}

.section-2 .client {
  width: auto;
  height: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.section-2 .role {
  width: auto;
  height: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.section-2 .year {
  width: auto;
  height: 16px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.section-2 .counter {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c1c7d0;
}

.section-2 .text {
  width: 295px;
  height: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  display: flex;
  align-items: center;
  font-family: "poppins", sans-serif;
}

.section-2 ul {
  display: flex;
  gap: 8px;
  width: 203px;
  height: 24px;
}

.section-2 ul li {
  padding: 4px 12px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.section-2 ul li p {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.section-2 .action {
  width: 295px;
  height: 72px;
  display: flex;
  align-items: center;
}

.section-2 button {
  padding: 12px;
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: #fff;
  transition: 0.3s;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  font-family: "poppins", sans-serif;
}

.section-2 img {
  width: 295px;
  height: 220px;
  transition: 1s;
}

/* Section 3: About My Self */

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 24px;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 0 75px 0 0;
}

.section-3 .top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 327px;
  height: 409px;
}

.section-3 h2 {
  width: 327px;
  height: 101px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.section-3 .para {
  width: 327px;
  height: 144px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.section-3 h3 {
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.section-3 .social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170.17px;
  height: 20px;
  margin-top: 12px;
}

.section-3 button {
  padding: 12px;
  width: 162px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  margin-top: 12px;
  transition: 0.3s;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  font-family: "Poppins", sans-serif;
}

.section-3 .skill-list {
  width: 327px;
}

.section-3 .skill-list li {
  width: inherit;
  height: 72px;
}

.section-3 .separator {
  height: 1px;
  background: #dfe1e6;
}

.section-3 .skill-list .flex-container {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.section-3 .skill-list h3 {
  height: 24px;
  top: calc(50% - 24px / 2);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.section-3 .skill-list .language {
  height: 320.15px;
}

.section-3 .skill-list .list {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0;
  padding-left: 12px;
}

.section-3 .arrow {
  margin-right: 50px;
}

/* Contact form section */

.section-4 {
  width: 100vw;
  background: #fff;
}

.section-4 .section-4-body {
  width: 100vw;
  height: inherit;
  background: #6070ff;
  border-radius: 75px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-4 .bg-container {
  display: flex;
  justify-content: flex-end;
}

.section-4 .desktop-bg {
  display: none;
}

.section-4 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-4 img {
  position: absolute;
  padding: 21px 0 0 0;
}

.section-4 .h1-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 327px;
  text-align: center;
  padding: 103px 24px 0 24px;
}

.section-4 h2 {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  width: 327px;
}

.section-4 .p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  width: inherit;
  font-family: "poppins", sans-serif;
}

/* Hover Effects */

.section-2 button:hover {
  background-color: #396df2;
  color: #fff;
}

.section-2 img:hover {
  transform: scale(1.1);
  z-index: 2;
}

.section-3 button:hover {
  background-color: #396df2;
  color: #fff;
}

.section-4 button:hover {
  background-color: #396df2;
  color: #fff;
}

/* === contact form section start by Sazzad === */

/* .contact-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  background: #6070ff;
} */

.section-4 .contact-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 375px;
  margin-top: 50px;
  padding: 0 24px 45px 24px;
}

.section-4 #name,
.section-4 #email {
  width: 327px;
  height: 48px;
  padding: 15px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.section-4 #text {
  width: 327px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  color: #b3bac5;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 15px 15px 140px 15px;
}

.section-4 .contact-btn {
  padding: 12px 16px;
  width: 142px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  transition: 0.3s;
  font-weight: 500;
  font-size: 17px;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  margin-right: auto;
}

/* Desktop Styles */

@media only screen and (min-width: 768px) {
  header {
    padding: 25px 155px 0 155px;
    height: 92px;
  }

  header ul {
    display: flex;
    gap: 32px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  header img {
    display: none;
  }

  /* Desktop Section 1 */

  .section-1 {
    height: 845px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .section-1 .background-image {
    display: none;
  }

  .section-1 .desktop-header-bg {
    position: absolute;
    display: block;
    width: 98vw;
    left: 34.6px;
    right: 8px;
    height: 721px;
    top: 119px;
  }

  .section-1 .headline-container {
    width: 63.8vw;
    height: 302px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .section-1 h1 {
    width: 100%;
    height: auto;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    padding-top: 0;
  }

  .section-1 h1 .br-2 {
    display: none;
  }

  .section-1 p {
    height: auto;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .section-1 h3 {
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  /* Desktop Section 2 */

  .section-2 {
    padding: 142px 0;
    display: flex;
    flex-direction: column;
    row-gap: 142px;
    justify-content: center;
    align-items: center;
  }

  .section-2 .card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3vw;
    width: 80vw;
    height: 496px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 24px;
    padding: 24px 2vw;
  }

  .section-2 .flip {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .section-2 .block {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 32px;
    width: 36.5vw;
    height: 98%;
    padding-top: 48px;
  }

  .section-2 .frame {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 12px;
    width: auto;
    height: 32px;
  }

  .section-2 .card img {
    width: 36.5vw;
    height: 98%;
    max-width: 544px;
    max-height: 448px;
    border-radius: 8px;
  }

  .section-2 .text {
    width: auto;
    height: auto;
  }

  /* Desktop Section 3 */

  .section-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 142px 10vw;
    gap: 40px;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 0 75px 0 0;
  }

  .section-3 .top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 40vw;
    max-width: 447px;
    height: 409px;
  }

  .section-3 h2 {
    width: auto;
    height: 101px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .section-3 .para {
    width: auto;
    height: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .section-3 .skill-list {
    width: 40vw;
    max-width: 684px;
  }

  /* Desktop Section 4 */

  .section-4 .h1-p {
    width: 569px;
    height: auto;
  }

  .section-4 .section-4-body {
    height: 846px;
  }

  .section-4 .bg-container {
    display: none;
  }

  .section-4 .desktop-bg {
    display: block;
    display: flex;
    justify-content: center;
  }

  .section-4 .desktop-bg img {
    position: absolute;
    width: 90vw;
    height: 718px;
  }

  .section-4 .contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    width: 447px;
    margin-top: 25px;
    padding: 0 24px 45px 24px;
  }

  .section-4 #name,
  .section-4 #email {
    width: inherit;
    height: 48px;
    padding: 15px;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  .section-4 #text {
    width: inherit;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    color: #b3bac5;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    padding: 15px 15px 140px 15px;
  }

  .section-4 .contact-btn {
    padding: 12px 16px;
    width: 142px;
    height: 48px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: #fff;
    transition: 0.3s;
    font-weight: 500;
    font-size: 17px;
    color: #6070ff;
    font-family: "Poppins", sans-serif;
    margin-right: 0;
  }
}
